MUDPOT_PORT=21,23,80,2323,8080
MUDPOT_SSH_PORT=22,2222
MUDPOT_TLS_PORT=443,8443
MUDPOT_LOG=/var/log/mudpot.log

# deploy.sh settings
MUDPOT_SRC=~/mudpot
MUDPOT_DEST=/home/mudpot
MUDPOT_WWW=/var/www/mudpot
